// Bootstrap brand color customization
//DevNote: set colors here for your branding. Need primary to have good contract for links
$brand-primary: $purple !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-info: $cyan !default;
$brand-rose: $pink !default;
